to_do/

.env
.env.*
!.env.example
.venv/
__pycache__/
*.py[cod]
*.egg
*.egg-info/

.pytest_cache/
.coverage
htmlcov/

.vscode/
.idea/
*.iml

dist/
build/
*.log
.DS_Store

data/*.sqlite
data/*.sqlite3
data/*.sqlite-shm
data/*.sqlite-wal
data/*.sqlite3-shm
data/*.sqlite3-wal





/app/api/
/app/features/*/README.md
/config/environments/*.toml
!/config/environments/example.toml
!/config/environments/production.toml
/docs/
/scripts/
